/* Admin */
.MainContainer {
  margin-top: 5vh;
  display: flex;
}

/* Property*/

.propertyContainer {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.leftPusher {  
  flex-grow: 1; 
  margin: 1%;
  
}
@media screen, (max-width: 500px){
.leftPusher{
  width: 25%;
 
}

}

.propertyForm {
  margin: 1%;
  flex-grow: 2;
}

.bookingsForm {  
  flex-grow: 1; 
}

.rightPusher {
 
}

.propertyNameBtnSubmit{
  display: flex;
  justify-content: flex-end;  
}